.navBar {
  display: flex;
  align-items: center;
  height: 13vh;
  padding: 0 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  margin-bottom: 40px;
  position: relative;
}

.logo {
  height: 10vh;
}

.navList {
  margin-left: auto;
}

.navList a {
  font-family: 'Krona One', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin: 2rem;
}

.navList a:hover {
  color: gray;
}

.cartIcon {
  font-size: 30px;
}