.productContainer {
  margin: 3rem;
  width: 400px;
  border-radius: 2%;
  background-color: rgba(197, 197, 197, 0.288);
  box-shadow: 0.1 0.125rem 0.3rem 0.1 rgb(0 0 0 / 11%);
}

.productContainer:hover {
  box-shadow: 0 0.2rem 0.25rem 0 rgba(0, 0, 0, 0.204);

}

.productContainer img {
  border-radius: 3%;
  justify-content: center;
  width:  350px;
  height: 300px;
  object-fit: fill;
  margin: 20px;
}

.productItem h2{
 overflow-wrap: break-word;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.productInfo {
  margin: 20px;
}