.productContainer {
  margin: 0.5rem;
  width: 400px;
  border-radius: 1%;
}

.productContainer img {
  border-radius: 3%;
  justify-content: center;
  width:  350px;
  height: 300px;
  object-fit: fill;
 
}

.productItem h2{
 overflow-wrap: break-word;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.productInfo {
  margin: 20px;
  box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.049);
}