.productContainer {
  width: 400px;
  margin: 40px 10px;
  border-radius: 1%;
  border-radius: 2%;
  box-shadow: 0 0 6px rgb(0 0 0 / 20%);
}

.productContainer:hover {
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.342);
}



.productContainer img {
  margin-top: 30px;
  border-radius: 3%;
  justify-content: center;
  width:  350px;
  height: 300px;
  object-fit: fill;
 
}

.productItem h2{
 text-overflow: ellipsis;
 font-family: 'Titillium Web', sans-serif;
 font-size: 20px;
 font-weight: 600;
 position: relative;
 overflow: hidden;
 white-space: nowrap;

}

.imageContainer {
  display: flex;
  justify-content: center;
}

.productInfo {
  display: flex;
  justify-content: center;
  margin: 10px 40px;
}
